<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-dialog" [class]="'modal-' + size">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
        <button class="modal-close" (click)="onClose()" aria-label="Close">
          ✕
        </button>
      </div>
      
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      
      @if (showFooter) {
        <div class="modal-footer">
          <ng-content select="[modal-footer]"></ng-content>
        </div>
      }
    </div>
  </div>
</div>
